@font-face {
  font-family: "neuropol";
  src: url("./components/assets/fonts/neuropol.woff") format("woff"), url("./components/assets/fonts/neuropol.ttf") format("truetype");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: auto;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "neuropol", sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(#eaf9f8, #8cdcda);
  color: #4d4d4d;
}